<app-header></app-header>
<div class="careers-container text-red-950">
<h1 class="font-bold text-4xl flex justify-center">Join Our Team</h1>
<p class="text-center">
  WELCOME to GALRON & KEVLEA law firm, where excellence in legal representation
  meets unwavering commitment to our clients' needs. Our diverse and skilled
  team of legal professionals is dedicated to providing comprehensive legal
  solutions across a spectrum of practice areas.
</p>
<div class="requirements-container ">
<h1 class="font-bold text-2xl flex justify-center">Minimum Requirements</h1>
<ul class="list-disc ml-6">
  <li>Advocate of the High Court of Kenya</li>
  <li>Have current year (2024) Practicing Certificate.</li>
  <li>Have good communication, presentation and analytical skills.</li>
  <li>Problem solving skills and strong team player.</li>
</ul>
<h2 class="font-bold text-2xl flex justify-center">How to Apply</h2>
<p class="m-4 text-center">
  Individuals who meet the above requirements should send their applications
  with a detailed CV and a cover letter, stating the position applying for, your
  expected remuneration package to the email below to reach the Firm on or
  before 6th February 2024. Applications should be emailed to careers ( ) Only
  shortlisted candidates will be contacted. Applications without expected
  remuneration will not be contacted. CR Advocates LLP is an equal opportunity
  employer. We value the diversity of individuals, ideas, perspectives, insights
  and what they bring to the workplace.
</p>
</div>
</div>
<app-footer></app-footer>
