footer {
    background-color:maroon;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  button.round {
    background-color:maroon;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 130px;
    width: 130px;
    box-shadow: 2px 2px 4px 4px rgb(203, 127, 127);
    border-radius: 50%;

  }