<footer class="text-xs">
  <div class="footer-container mt-2">
    <h2 class="text-xl font-semibold">WE GOT YOU COVERED</h2>

    <div class="icons flex flex-row justify-center gap-10 m-2">
      <button class="round">
        <mat-icon>business_center</mat-icon>
        <h1 class="text-sm">Corporate Law</h1>
      </button>

      <button class="round"><mat-icon>gavel</mat-icon>
        <h1 class="text-sm">Despute Resolution</h1>

      </button>
      <button class="round"><mat-icon>domain</mat-icon>
        <h1 class="text-sm">Reak Estate and Banking</h1>

      </button>
      <button class="round"><mat-icon>people</mat-icon>
        <h1 class="text-sm">Consultancy and Legal Advice</h1>

      </button>
    </div>

    <div class="grid grid-cols-2 gap-10">
      <div class="contacts-container">
        <ul>
          <li>6th Floor, Delta Corner PWC Tower</li>
          <li>P.O Box 14805-00800</li>
          <li>Nairobi, Kenya</li>
          <li>Opening hours: Monday to Friday, 8:00 AM to 5:00 PM</li>
        </ul>
      </div>
      <div class="quickLinks-container float-left">
        <ul>
          <li>About Us</li>
          <li>Areas Of Practice</li>
          <li>Contact Us</li>
        </ul>
      </div>
    </div>

    <p>&copy; 2024 Nyambura Njuguna. All rights reserved.</p>
  </div>
</footer>
