<app-header></app-header>
<div class="practice-container text-center text-white">
  <h1 class="font-bold text-4xl flex justify-center">Practice Areas</h1>
  <div class=" grid grid-cols-2 gap-4">
    <!-- <img alt="law" src="./assets/booksBanner.jpg" /> -->
    <div
      class="corporate-container p-4 m-4 shadow-xl rounded-md text-center justify-between"
    >
      <button class="round">
        <mat-icon>business_center</mat-icon>
      </button>
      <h2 class="font-bold text-2xl flex justify-center p-4">
        Corporate and Commercial Law
      </h2>
      <p class="text-center">
        Welcome to our Corporate and Commercial Law Department. Our team of
        adept attorneys specializes in navigating the intricate landscape of
        corporate governance, contract negotiation, mergers and acquisitions,
        and regulatory compliance.
      </p>
    </div>

    <div
      class="dispute-container p-4 m-4 shadow-xl rounded-md text-center justify-between"
    >
      <button class="round"><mat-icon>gavel</mat-icon></button>
      <h1 class="font-bold text-2xl flex justify-center p-4">
        Dispute Resolution
      </h1>
      <p class="text-center">
        In our law firm's Dispute Resolution Department, we specialize in
        providing swift and effective resolutions to legal conflicts, ensuring
        our clients' interests are vigorously defended.
      </p>
    </div>
    <div class="banking-container p-4 m-4 shadow-xl rounded-md text-center justify-between">
      <button class="round"><mat-icon>domain</mat-icon></button>
      <h1 class="font-bold text-2xl flex justify-center p-4">
        Real Estate and Banking
      </h1>
      <p class="text-center">
        Welcome to our law firm's distinguished Real Estate and Banking
        Department, where we offer a comprehensive suite of legal services to
        meet the diverse needs of our clients in Kenya's dynamic property and
        financial sectors.
      </p>
    </div>
    <div class="criminal-container p-4 m-4 shadow-xl rounded-md text-center justify-between">
      <button class="round"><mat-icon>people</mat-icon></button>
      <h1 class="font-bold text-2xl flex justify-center p-4">Criminal Law</h1>
      <p class="text-center">
        Welcome to our Criminal Law Department, where justice is our utmost
        priority. Our dedicated team of experienced criminal defense attorneys
        is committed to providing unwavering advocacy and strategic
        representation for individuals facing criminal charges. With a deep
        understanding of Kenya's legal system and a passion for protecting our
        clients' rights, we navigate each case with precision and determination.
      </p>
    </div>
  </div>
  </div>
<app-footer></app-footer>