<!-- <div class="app-container my-1">

  <div class="header"> -->

    <!-- <nav
    class="buttons flex justify-center border border-gray-200 p-6 rounded-md"
  >
    <a class="button" routerLink="/home">Home</a>
    <a class="button" routerLink="/about">AboutUs</a>
    <a class="button" routerLink="/practice">Areas of Practice</a>
    <a class="button" routerLink="/contacts">Contact Us</a>
  </nav> -->
  
  <!-- </div>
<section class="container mt-1">
  <div class="slider-wrapper">
    <div class="slider">
      <img id="slider-1"   src="./assets/lawGavel.jpg" />
      <img id="slider-2"   src="./assets/lawPartner.jpg" />
      <img id="slider-3"   src="./assets/lawPartner2.jpg" />
    </div>
    <div class="slider-nav">
      <a href="#slider-1"></a>
      <a href="#slider-2"></a>
      <a href="#slider-3"></a>

    </div>
  </div>
</section> -->
  <!-- <app-footer></app-footer>
</div> -->
<router-outlet></router-outlet>

