<div class="layout-container">
    <app-header></app-header>
  <section class="container mt-1">
    <div class="slider-wrapper">
      <div class="slider">
        <img id="slider-1"   src="./assets/lawGavel.jpg" />
        <img id="slider-2"   src="./assets/lawPartner.jpg" />
        <img id="slider-3"   src="./assets/lawPartner2.jpg" />
      </div>
      <div class="slider-nav">
        <a href="#slider-1"></a>
        <a href="#slider-2"></a>
        <a href="#slider-3"></a>
  
      </div>
    </div>
    
  </section> 
  <!-- <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
     <app-footer></app-footer>


</div> -->