<div class="main-container">
  <div class="about-container p-4 flex justify-center  text-red-950">
    <div class="basis-1/2 text-center">
      <h1 class="font-bold text-4xl flex justify-center">
        WHO WE ARE
      </h1>
      <p class="text-center">
        GALRON & KEVLEA is a law firm in Kenya, where excellence in legal
        representation meets unwavering commitment to our clients' needs. Our
        diverse and skilled team of legal professionals is dedicated to
        providing comprehensive legal solutions across a spectrum of practice
        areas.
      </p>
      <button class=" mt-1 font-bold" (click)="onButtonClick()">Learn More
      </button>
    </div>
  </div>

  <div class="practice-container mt-2 text-center text-white">
    <h1 class="font-bold text-4xl flex justify-center">
      Practice Areas
    </h1>
    <div class="grid grid-cols-2 gap-4">
      <!-- <img alt="law" src="./assets/booksBanner.jpg" /> -->
      <div class="corporate-container p-4 m-4 shadow-xl  rounded-md text-center justify-between">
        <h2 class="font-bold text-2xl flex justify-center p-4">Corporate and Commercial Law</h2>
        <p class="text-center">
          Welcome to our Corporate and Commercial Law Department. Our team of
          adept attorneys specializes in navigating the intricate landscape of
          corporate governance, contract negotiation, mergers and acquisitions,
          and regulatory compliance.
        </p>
        <button class="text-sm font-bold" (click)="onBtnClick()">Read More</button>
      </div>

      <div class="despute-container p-4 m-4 shadow-xl  rounded-md text-center justify-between">
        <h1 class="font-bold text-2xl flex justify-center p-4">Despute Resolution</h1>
        <p class="text-center">
          In our law firm's Dispute Resolution Department, we specialize in
          providing swift and effective resolutions to legal conflicts, ensuring
          our clients' interests are vigorously defended. 
        </p>
        <button  class=" mt-1 text-sm font-bold"(click)="onBtnClick()">Read More</button>
      </div>
      <div class=" p-4 m-4 shadow-xl  rounded-md text-center justify-between">
        <h1 class="font-bold text-2xl flex justify-center p-4">Real Estate and Banking</h1>
        <p class="text-center">
          Welcome to our law firm's distinguished Real Estate and Banking
          Department, where we offer a comprehensive suite of legal services to
          meet the diverse needs of our clients in Kenya's dynamic property and
          financial sectors.
        </p>
        <button  class=" mt-1 text-sm font-bold"(click)="onBtnClick()">Read More</button>
      </div>
      <div class=" p-4 m-4 shadow-xl  rounded-md text-center justify-between">
        <h1 class="font-bold text-2xl flex justify-center p-4">Consultancy and Legal Advisory</h1>
        <p class="text-center">
          Welcome to our Consultancy and Legal Advisory Department, where
          strategic guidance meets comprehensive solutions. Our team of seasoned
          consultants and legal advisors is committed to providing clients with
          insightful perspectives and innovative strategies to navigate the
          intricacies of their business challenges. 
        </p>
        <button class="mt-1 text-sm font-bold" (click)="onBtnClick()">Read More</button>
      </div>
    </div>
  </div>
  <div class="contacts-container  text-red-950  p-4 m-4 rounded-md text-center justify-between">
    <h1 class="font-bold text-2xl flex justify-center p-4">Get in Touch</h1>
    <p>
      Ready to navigate the complexities of law with confidence? Contact us
      today to explore tailored legal solutions that meet your unique needs. Our
      dedicated team across various practice areas, from Dispute Resolution to
      RealEstate and Banking, is committed to delivering excellence in legal
      representation.
    </p>
    <h1>social icons</h1>
  </div>
</div>
