<div class="main-container p-4">
    <div class="about-container">
      <h1>WHO WE ARE</h1>
      <p>
        Welcome to GALRON & KEVLEA law firm in Kenya, where excellence in legal
        representation meets unwavering commitment to our clients' needs. Our
        diverse and skilled team of legal professionals is dedicated to
        providing comprehensive legal solutions across a spectrum of practice
        areas. In the realm of commercial law, we offer expert guidance on
        business transactions, contracts, and dispute resolution. Our robust
        litigation department specializes in civil and criminal matters,
        ensuring formidable representation in courtrooms across the country.
        Real estate law is another forte, with our team adept at handling
        property transactions, land disputes, and regulatory compliance.
        Additionally, our firm boasts a strong focus on family law, guiding
        clients through matters such as divorce, child custody, and inheritance.
        We take pride in our commitment to delivering personalized, strategic
        legal counsel that aligns with the unique needs of each client. Whether
        navigating complex legal challenges or seeking proactive advice, our
        firm stands as a pillar of legal excellence in Kenya.
      </p>
      <button>Read More</button>
    </div>
    <div class="practice-container mt-2 border border-gray-950">
      <div class="grid grid-cols-2 gap-4">
        <div class="coporate-container p-2">
          <h1>Coporate and Commercial Law</h1>
          <p>
            Welcome to our Corporate and Commercial Law Department, where
            expertise meets efficiency in providing comprehensive legal
            solutions for businesses. Our team of adept attorneys specializes in
            navigating the intricate landscape of corporate governance, contract
            negotiation, mergers and acquisitions, and regulatory compliance.
            Whether you're a startup, a growing enterprise, or an established
            corporation, our department is equipped to address a spectrum of
            corporate and commercial legal needs.
          </p>
          <button>Read More</button>
        </div>

        <div class="despute-container">
          <h1>Despute Resolution</h1>
          <p>
            In our law firm's Dispute Resolution Department, we specialize in
            providing swift and effective resolutions to legal conflicts,
            ensuring our clients' interests are vigorously defended. Our skilled
            team of attorneys excels in alternative dispute resolution methods
            such as arbitration and mediation, offering a collaborative approach
            to resolving conflicts efficiently and cost-effectively.
          </p>
          <button>Read More</button>
        </div>
        <div>
          <h1>Real Estate and Banking</h1>
          <p>
            Welcome to our law firm's distinguished Real Estate and Banking
            Department, where we offer a comprehensive suite of legal services
            to meet the diverse needs of our clients in Kenya's dynamic property
            and financial sectors. In the realm of real estate, our adept team
            guides clients through every stage of property transactions, from
            due diligence to contract negotiation, ensuring seamless and secure
            acquisitions or dispositions. We specialize in navigating the
            intricacies of land use regulations, zoning laws, and title matters.
          </p>
          <button>Read More</button>
        </div>
        <div>
          <h1>Consultancy and Legal Advisory</h1>
          <p>
            Welcome to our Consultancy and Legal Advisory Department, where
            strategic guidance meets comprehensive solutions. Our team of
            seasoned consultants and legal advisors is committed to providing
            clients with insightful perspectives and innovative strategies to
            navigate the intricacies of their business challenges. Specializing
            in a wide array of industries, we offer expert advice on regulatory
            compliance, risk management, and corporate governance.
          </p>
          <button>Read More</button>
        </div>
      </div>
    </div>
    <div class="contacts-container">
      <h1>Get in Touch</h1>
      <p>
        Ready to navigate the complexities of law with confidence? Contact us
        today to explore tailored legal solutions that meet your unique needs.
        Our dedicated team across various practice areas, from Dispute
        Resolution to RealEstate and Banking, is committed to delivering
        excellence in legal representation.
      </p>
      <h1>Social icons</h1>
    </div>
  </div>